.container {
  width: 100%;
  min-height: 100vh;
  // background-color: #ffc18b49;

  .title {
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    padding: 10px;
  }

  .main_content {
    width: 95%;
    margin: 0 auto;
  }
}

.content {
  width: 100%;
  padding: 10px 0;
  .content_item {
    width: 100%;
    margin: 20px 0;
  }
}
