@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  color: #000;
  font-family: "Kanit", sans-serif;
  list-style: 0;
  text-decoration: 0;
  font-weight: 300;
  position: relative;
  &::before {
    content: "";
    background-image: url("./assets/image/hinh-nen-may-tinh-4k-don-gian-ma-dep-chill.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    inset: 0;
    filter: blur(5px);
  }
}

@media (max-width: 767px) {
  html {
    font-size: 7px;
  }
}
